.home {
    margin: 40px 0 80px 0;
}

.home h1 {
    display: inline-block;
    width: calc(100% - 410px);
    margin: 20px 30px;
    font-weight: 500;
    font-family: var(--header-font);
}

.drawing {
    margin: 15px 45px 5px 5px;
    width: 200px;
    height: 250px;
    float: right;
}

@media (max-width: 800px) {
    .home h1 {
        display: block;
        width: calc(100% - 60px);
    }

    .drawing {
        float: none;
        display: none;
    }
}